#navbar, .btn-custom {
    background-color: rgb(16, 107, 115);
}

body {
    background-color: rgb(16, 147, 165);
}

#footer {
    padding-top: 50px;
    text-align: center;
    color: rgb(16, 107, 115);
}